*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.div-head-container{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #add8e6;
}
 .logo-login{
    width: 200px;
    
 }

.link-header{
    width: 500px;
    text-align: center;

}

.logo-login.right{
    text-align: right;
}

.logo-login, .link-header, .logo-login.right{
    background-color: #daa520;
}

.div-section1{
    display: flex;
    height: 450px;
    background-color: #00008b;
    justify-content: center;
    align-items: center;
}
.div-section1-1{
    background-color: #ee82ee;
    height: 350px;
    width: 650px;
    
}

.div-section2{
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.div-section2-1{
    background-color: #1e90ff;
    height: 400px;
    width: 550px;

}

.div-section2-2{
    background-color: #ffc0cb;
    height: 400px;
    width: 350px;


}

.div-section2-1, .reverse{

    flex-direction: row-reverse;
}
















/* debug */
.debug header{
    border: 2px dashed yellow;
    
}
.debug div{
    border: 2px dashed yellow;
}