*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.div-head-container{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #add8e6;
}

.logo-login{
    width: 200px;
 }

.link-header{
    width: 500px;
    text-align: center;
}

.logo-login.right{
    text-align: right;
}

.div-section1{
    padding: 30px 0;
    background-color: #00008b;
}

.div-section1-1{
    background-color: #ee82ee;
    height: 350px;
    width: 650px;  
}

.div-section2{
    height: 500px;
    padding: 30px 0;
}

.div-section2-1{
    background-color: #1e90ff;
    height: 400px;
    width: 550px;
}

.div-section2-2{
    background-color: #ffc0cb;
    height: 400px;
    width: 350px;
}

.reverse{
    background-color: #d3d3d3;
}

.div-section2-1, .reverse{
    flex-direction: row-reverse;
}

.div-alto{
    padding: 30px 0;
    background-color: #d3d3d3;
}

#box-alto{
    height: 800px;
    width: 900px;
    background-color: #228b22;
}

#ultima-section{
    background-color: #23272a;
    height: 500px;
}

.div-ultima-section{
    background-color: #ee82ee;
    width: 350px;
    height: 450px;
}

.div-ultima-section2{
    background-color: #1e90ff;
    height: 450px;
    width: 550px;
}

.div-ultima-section2 div{
    background-color: #1e90ff;
    height: 450px;
    width: 137px;
}

.div-bottom{
    margin-top: 1px;
    background-color: #23272a;
    height: 80px;
    justify-content: center;
    align-items: flex-end;
}

#div-logo-bottone{
    background-color: #7fffd4;
    width: 900px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.logo-login, .link-header, .logo-login.right{
    background-color: #daa520;
}

.div-section1, .div-section2, .div-alto, #ultima-section{
    justify-content: center;
    align-items: center;
}

.div-section1, .div-section2, .div-alto, #ultima-section, .div-ultima-section2, .div-bottom, #div-logo-bottone{
    display: flex;
}