*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.div-head-container{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #add8e6;
}
 .logo-login{
    width: 15%;
    
 }

.link-header{
    width: 40%;
    text-align: center;

}

.logo-login.right{
    text-align: right;
}

.logo-login, .link-header, .logo-login.right{
    background-color: #daa520;
}

.div-main-container{
    display: flex;
    height: 450px;
    background-color: #00008b;
    justify-content: center;
    align-items: center;
}
.div-main{
    background-color: #ee82ee;
    height: 350px;
    width: 650px;
    
}


















/* debug */
.debug header{
    border: 2px dashed yellow;
    
}
.debug div{
    border: 2px dashed yellow;
}